amqp
asgiref
billiard
celery
chardet
click
click-didyoumean
click-plugins
click-repl
colorama
Django
django-rest-framework
djangorestframework
djangorestframework_simplejwt
drf-yasg
inflection
kombu
packaging
pillow
pip
prompt_toolkit
PyJWT
python-dateutil
pytz
PyYAML
redis
reportlab
setuptools
six
sqlparse
tzdata
uritemplate
vine
wcwidth
wheel